{% if site.github %}
	<div class="rounded_panel txt_lightgrey"> 
		<div class="top-rounded-panel grey-bg"> 
			<h1 id="paper">PUBLICATIONS</h1> 
		</div> 
		
		<div class="content-rounded-panel">
		<style>
    			.table td, .table th {
        		font-size: 13px;
    			}
		</style>
		
		<p style="color:blue">  Journal Paper</p>
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">YEAR</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">TITLE</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">TITLE</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">INDEXING</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">2016</th>
      						<td><b><a href="https://thesai.org/Publications/ViewPaper?Volume=7&Issue=11&Code=IJACSA&SerialNo=40">Image De-Noising and Compression Using Statistical based Thresholding in 2-D Discrete Wavelet Transform</a></b></td>
      						<td>International Journal of Advanced Computer Science and Applications</td>
      						<td>EI</td>
    				</tr>
    				<tr>
      					<th scope="row">2020</th>
      						<td><b><a href="https://www.mdpi.com/2227-7390/8/5/768">Transferable Architecture for Segmenting Maxillary Sinuses on Texture-Enhanced Occipitomental View Radiographs</a></b></td>
      						<td>Mathematics MDPI</td>
      						<td>SCI (IF = 2.7)</td>
    				</tr>
    				<tr>
      					<th scope="row">2020</th>
      						<td><b><a href="https://www.mdpi.com/1424-8220/20/23/6777">Continual Learning Strategy in One-Stage Object Detection Framework Based on Experience Replay for Autonomous Driving Vehicle</a></b></td>
      						<td>Sensors MDPI</td>
      						<td>SCI (IF = 3.5)</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://link.springer.com/article/10.1007/s12652-021-02958-8">An edge-aware based adaptive multi-feature set extraction for stereo matching of binocular images</a></b></td>
      						<td>Springer Journal of Ambient Intelligence and Humanized Computing</td>
      						<td>SCI (IF = 7.2)</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://ieeexplore.ieee.org/abstract/document/9354938">3D Object Detection Based on Proposal Generation Network Utilizing Monocular Images</a></b></td>
      						<td>IEEE Consumer Electronics Magazine</td>
      						<td>SCI (IF = 3.7)</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://ieeexplore.ieee.org/abstract/document/9495172">An incremental learning of yolov3 without catastrophic forgetting for smart city applications</a></b></td>
      						<td>IEEE Consumer Electronics Magazine</td>
      						<td>SCI (IF = 3.7)</td>
    				</tr>
				<tr>
      					<th scope="row">2022</th>
      						<td><b><a href="https://ieeexplore.ieee.org/abstract/document/9709557">Task Incremental Learning with Static Memory for Audio Classification without Catastrophic Interference</a></b></td>
      						<td>IEEE Consumer Electronics Magazine</td>
      						<td>SCI (IF = 3.7)</td>
    				</tr>
				<tr>
      					<th scope="row">2022</th>
      						<td><b><a href="https://link.springer.com/article/10.1007/s00138-022-01284-z">Utilizing incremental branches on a one-stage object detection framework to avoid catastrophic forgetting</a></b></td>
      						<td> Springer Journal of Machine Vision and Applications </td>
      						<td>SCI (IF = 2.0)</td>
    				</tr>
				<tr>
      				
  		</tbody>
		</table>

		<p style="color:blue">  Conference Paper</p>
		
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">YEAR</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">TITLE</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">CONFERENCE</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://www.researchgate.net/publication/335338824_A_novel_object_detection_method_based_on_Fuzzy_sets_theory_and_SURF">Incremetnal Learning of object detection without Catastrophic Forgetting. </a></b></td>
      						<td>32nd Symposum on VLSI/CAD Taichung, Taiwan,
    				</tr>
    				<tr>
      					
  		</tbody>
		</table>
		</div>
	</div>
<!--
		<div class="content-rounded-panel" style="overflow: hidden;"> 
			<div> 
				{% for project in site.github 
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row"> 
					{% endif %}
						<div class="col-lg-6"> 
							<div class="github-widget" data-repo="{{project}}"></div> 
						</div> 
					{% if loopindex == 0 %}
					</div> 
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div> 
				{% endif %}
			</div> 
		</div>

	</div>
-->
{% endif %}

