{% if site.github %}
	<div class="rounded_panel txt_lightgrey"> 
		<div class="top-rounded-panel grey-bg"> 
			<h1 id="paper">PUBLICATIONS</h1> 
		</div> 
		
		<div class="content-rounded-panel">
		<style>
    			.table td, .table th {
        		font-size: 13px;
    			}
		</style>
		
		<p style="color:blue">  Journal Paper</p>
		<table class="table">
  			<thead class="thead-light">
    				<tr>
<!--       					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">YEAR</th> -->
<!--       					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">TITLE</th> -->
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">TITLE</th>
<!--       					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">INDEXING</th> -->
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">2016</th>
      						<td><b><a href="https://thesai.org/Publications/ViewPaper?Volume=7&Issue=11&Code=IJACSA&SerialNo=40">Qazi Mazhar ul Haq, Chang Hong Lin, Shanq-Jang Ruan, and Derlis Gregor, "An Edge Aware Based Adaptive Multi-feature Set Extraction for Stereo Matching of Binocular Images," Journal of Ambient Intelligence and Humanized Computing. (DOI:10.1007/s12652201-02958-8) (SCI) (IF=3.6) 

Qazi Mazhar ul Haq, Muhamad Amirul Haq, Shanq-Jang Ruan, Pei-Jung Liang, and De-Qin Gao "3D Object Detection Based on Proposal Generation Network Utilizing Monocular Images," IEEE Consumer Electronics Magazine (DOI: 10.1109/MCE.2021.3059565) (SCI) (IF=4.13) 

Shieh, JL., Haq, M.A., Haq, Q.M.u. et al. Utilizing incremental branches on a one-stage object detection framework to avoid catastrophic forgetting. Machine Vision and Applications 33, 28 (2022). https://doi.org/10.1007/s00138-022-01284-z (IF=2.98) 

Qazi Mazhar ul haq, and Shanq Jang Ruan “Incremerntal learning on YOLOv3 object detection framework”  IEEE consumer electronics magazine 2020. DOI:  

10.1109/MCE.2021.3096376 (IF=4.13) 

Islam, Faiz Ul, Guangjie Liu, Weiwei Liu, and Qazi Mazhar ul Haq. "A deep learning‐based framework to identify and characterise heterogeneous secure network traffic." IET Information Security (2022). (IF=1.3) 

Karam, Said, Shanq-Jang Ruan, and Qazi Mazhar ul Haq. "Task Incremental Learning with Static Memory for Audio Classification without Catastrophic Interference." IEEE Consumer Electronics Magazine (2022). (IF=4.13) 

Haq, Muhamad Amirul, Shanq-Jang Ruan, Mei-En Shao, Qazi Mazhar Ul Haq, Pei-Jung Liang, and De-Qin Gao. "One stage monocular 3D object detection utilizing discrete depth and orientation representation." IEEE Transactions on Intelligent Transportation Systems 23, no. 11 (2022): 21630-21640. (IF=9.55) 

Rahmaniar, Wahyu, Qazi Mazhar ul Haq, and Ting-Lan Lin. "Wide Range Head Pose Estimation Using A Single RGB Camera for Intelligent Surveillance." IEEE Sensors Journal (2022). (IF=4.3) 

Qazi Mazhar ul Haq, Adil Masood, Imran Touqir, Adnan ‘Image de-noising and compression using statistical-based thresholding in 2D Discrete wavelet transform”IJACSA VOL 07. NO 11 Nov 2016.  

Purwono, P., Ma’arif, A., Rahmaniar, W., ul Haq, Q. M., Herjuno, D., & Naseer, M. (2022). Blockchain Technology. Jurnal Ilmiah Teknik Elektro Komputer dan Informatika (JITEKI), 8(2), 199-205. 

Khan, S., Ali, I., Ghaffar, F., & Mazhar-ul-Haq, Q. (2022). Classification of Macromolecules Based on Amino Acid Sequences Using Deep Learning. Engineering, Technology & Applied Science Research, 12(6), 9491-9495. </a></b></td>
      						<td>International Journal of Advanced Computer Science and Applications</td>
      						<td>EI</td>
    				</tr>
    				<tr>
      					<th scope="row">2020</th>
      						<td><b><a href="https://www.mdpi.com/2227-7390/8/5/768">Transferable Architecture for Segmenting Maxillary Sinuses on Texture-Enhanced Occipitomental View Radiographs</a></b></td>
      						<td>Mathematics MDPI</td>
      						<td>SCI (IF = 2.7)</td>
    				</tr>
    				<tr>
      					<th scope="row">2020</th>
      						<td><b><a href="https://www.mdpi.com/1424-8220/20/23/6777">Continual Learning Strategy in One-Stage Object Detection Framework Based on Experience Replay for Autonomous Driving Vehicle</a></b></td>
      						<td>Sensors MDPI</td>
      						<td>SCI (IF = 3.5)</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://link.springer.com/article/10.1007/s12652-021-02958-8">An edge-aware based adaptive multi-feature set extraction for stereo matching of binocular images</a></b></td>
      						<td>Springer Journal of Ambient Intelligence and Humanized Computing</td>
      						<td>SCI (IF = 7.2)</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://ieeexplore.ieee.org/abstract/document/9354938">3D Object Detection Based on Proposal Generation Network Utilizing Monocular Images</a></b></td>
      						<td>IEEE Consumer Electronics Magazine</td>
      						<td>SCI (IF = 3.7)</td>
    				</tr>
				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://ieeexplore.ieee.org/abstract/document/9495172">An incremental learning of yolov3 without catastrophic forgetting for smart city applications</a></b></td>
      						<td>IEEE Consumer Electronics Magazine</td>
      						<td>SCI (IF = 3.7)</td>
    				</tr>
				<tr>
      					<th scope="row">2022</th>
      						<td><b><a href="https://ieeexplore.ieee.org/abstract/document/9709557">Task Incremental Learning with Static Memory for Audio Classification without Catastrophic Interference</a></b></td>
      						<td>IEEE Consumer Electronics Magazine</td>
      						<td>SCI (IF = 3.7)</td>
    				</tr>
				<tr>
      					<th scope="row">2022</th>
      						<td><b><a href="https://link.springer.com/article/10.1007/s00138-022-01284-z">Utilizing incremental branches on a one-stage object detection framework to avoid catastrophic forgetting</a></b></td>
      						<td> Springer Journal of Machine Vision and Applications </td>
      						<td>SCI (IF = 2.0)</td>
    				</tr>
				<tr>
      				
  		</tbody>
		</table>

		<p style="color:blue">  Conference Paper</p>
		
		<table class="table">
  			<thead class="thead-light">
    				<tr>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">YEAR</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">TITLE</th>
      					<th bgcolor="#D3D3D3" scope="col" style="text-align:center">CONFERENCE</th>
    				</tr>
  			</thead>
  		<tbody>
    				<tr>
      					<th scope="row">2021</th>
      						<td><b><a href="https://www.researchgate.net/publication/335338824_A_novel_object_detection_method_based_on_Fuzzy_sets_theory_and_SURF">Incremetnal Learning of object detection without Catastrophic Forgetting. </a></b></td>
      						<td>32nd Symposum on VLSI/CAD Taichung, Taiwan,
    				</tr>
    				<tr>
      					
  		</tbody>
		</table>
		</div>
	</div>
<!--
		<div class="content-rounded-panel" style="overflow: hidden;"> 
			<div> 
				{% for project in site.github 
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row"> 
					{% endif %}
						<div class="col-lg-6"> 
							<div class="github-widget" data-repo="{{project}}"></div> 
						</div> 
					{% if loopindex == 0 %}
					</div> 
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div> 
				{% endif %}
			</div> 
		</div>

	</div>
-->
{% endif %}

